<ion-header>

  <ion-navbar>
    <ion-title>{{ 'VIDEO_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.thumb.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'VIDEO_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.thumb.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'VIDEO_NAME_PLACEHOLDER' | translate }}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'VIDEO_DESC_PLACEHOLDER' | translate }}" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="category" placeholder="{{ 'VIDEO_CAT_PLACEHOLDER' | translate }}">
          <ion-label>{{ 'VIDEO_CAT_PLACEHOLDER' | translate }}</ion-label>
          <ion-option  *ngFor="let cat of categories" value="{{cat.id}}" >{{cat.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <tags-input formControlName="tags" alertTitleLabel="Add Tag" alertInputPlaceholder="Tag" alertButtonLabel="Add" buttonLabel="Tag"></tags-input>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="videoUrl">Uploading.... {{ progress }} %</ion-label>
        <ion-spinner *ngIf="isUploading"></ion-spinner>
      </ion-item>
      <ion-item>
        <button ion-button color="primary" full (click)="getVideoUrl()">{{ 'VIDEO_CHOOSE_PLACEHOLDER' | translate }}</button>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'VIDEO_LAT_PLACEHOLDER' | translate }}" formControlName="lat"></ion-input>
        <ion-input type="text" placeholder="{{ 'VIDEO_LONG_PLACEHOLDER' | translate }}" formControlName="long"></ion-input>
      </ion-item>
      <ion-item>
        <div #map id="map" style="width:100%;height:200px;"></div>
      </ion-item>
    </ion-list>


  </form>
</ion-content>
