<ion-header>

  <ion-navbar>
    <ion-title>{{ video.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="height: 50vh; width: 100%">
    <player [src]="video.stream"></player>
  </div>
  <ion-row>
    <ion-col col-2 offset-1>
      <button ion-button color="primary" clear small icon-left>
        <ion-icon name="eye" item-end color="primary"> </ion-icon>
        {{views}}
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button color="primary" clear small icon-left (click)="like(video)">
        <ion-icon [name]="likeIcon"></ion-icon>
        {{ likes }}
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button color="danger" clear small icon-left (click)="dislike(video)">
        <ion-icon [name]="dislikeIcon"></ion-icon>
        {{ dislikes }}
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button color="primary" clear small icon-left (click)="showComment()">
        <ion-icon name='text'></ion-icon>
        {{ comments.length }}
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button color="primary" clear small icon-left (click)="showReport()">
        <ion-icon name='information-circle'></ion-icon>
        Report
      </button>
    </ion-col>

  </ion-row>
  <ion-item no-lines>
    <h4 text-wrap>
      {{video.description}}
    </h4>
  </ion-item>
  <div padding>
    <ion-segment [(ngModel)]="choice">
      <ion-segment-button value="comments">
        Comments
      </ion-segment-button>
      <ion-segment-button (click)="getSimilar()" value="similar">
        Similar Videos
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="'comments'">
      <ion-list>
        <ion-item *ngFor="let comment of comments">
          <ion-icon name="text" item-end color="primary"></ion-icon>
          <ion-avatar item-start>
            <img [src]="comment.owner.image">
          </ion-avatar>
          <h3>{{comment.owner.firstName}}</h3>
          <p>{{comment.comment}}</p>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'similar'">
      <ion-list>
        <ion-item *ngFor="let video of similar">
          <button ion-item (click)="openVideo(video)">
            <ion-avatar item-start>
              <img [src]="video.thumb" />
            </ion-avatar>
            <h2>{{video.name}}</h2>
            <p>{{video.description}}</p>
            <ion-note item-end>{{video.views + " Views"}}</ion-note>
          </button>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>

</ion-content>
