<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addVideo()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let video of videos">
      <button ion-item (click)="openVideo(video)">
        <ion-avatar item-start>
          <img [src]="video.thumb" />
        </ion-avatar>
        <h2>{{video.name}}</h2>
        <p>{{video.description}}</p>
        <ion-note item-end>{{video.views + " Views"}}</ion-note>
      </button>

      <ion-item-options *ngIf="video.owner===user._id">
        <button ion-button color="danger" (click)="deleteVideo(video)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <!--<button ion-button icon-right color="royal" (click)="showList()">-->
        <!--<ion-icon name="list"></ion-icon>-->
      <!--</button>-->
      <button ion-button icon-right color="royal" (click)="showCard()">
        <ion-icon name="card"></ion-icon>
      </button>
      <button ion-button icon-right color="royal" (click)="showMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
